<div id="<%= dom_id user %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Firstname:</strong>
    <%= user.firstname %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Lastname:</strong>
    <%= user.lastname %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Username:</strong>
    <%= user.username %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Email:</strong>
    <%= user.email %>
  </p>

</div>
