<div id="<%= dom_id publisher %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= publisher.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Email:</strong>
    <%= publisher.email %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Url:</strong>
    <%= publisher.url %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Books:</strong>
    <ul>
      <% publisher.books.all.each do |book| %>
        <li><%= link_to book.name, book %></li>
      <% end %>
    </ul>
  </p>

</div>
