<div class="bg-white p-6 rounded shadow-md">
  <h2 class="text-xl font-bold mb-4">Manage Books</h2>
  <table class="w-full table-auto border-collapse">
    <thead>
      <tr class="bg-gray-100 text-left">
        <th class="border p-2">Title</th>
        <th class="border p-2">Author</th>
        <th class="border p-2">Available Copies</th>
        <th class="border p-2">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @books.each do |book| %>
        <tr>
          <td class="border p-2"><%= book.name %></td>
          <td class="border p-2"><%= book.authors.map(&:display_name).join(", ") %></td>
          <td class="border p-2"><%= book.effective_amount %></td>
          <td class="border p-2 space-x-2">
            <%= link_to "Lend out", new_borrow_path(book), class: "text-green-600 hover:underline" %>
            <%= link_to "Edit", edit_book_path(book), class: "text-blue-600 hover:underline" %>
            <%= link_to "Delete", book_path(book), method: :delete, class: "text-red-600 hover:underline", data: { confirm: "Are you sure?" } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="mt-4">
    <%= link_to "Add New Book", new_book_path, class: "bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-500" %>
  </div>
</div>
